@import "../../index";

.table_component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  min-width: 800px;
  border: 2px solid $lfs-yellow;
}

.table_title {
  text-transform: uppercase;
  font-weight: bold;
  color: $lfs-yellow;
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.table_head {
  border-bottom: 2px solid $lfs-yellow;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.coin_symbol {
  color: $lfs-grey;
  font-size: 16px;
  font-weight: bold;
}

.table_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.table_column_title {
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: $lfs-blue;
  border: 1px solid $border-white;
  font-weight: bold;
  cursor: pointer;

  input {
    display: none;
  }
}

.coin_row {
  border-bottom: 1px solid $border-white;
  color: $lfs-grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  &:hover {
    background-color: $lgt-blue;
    cursor: pointer;
  }
}

.row_more_coins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid $border-white;
  color: $lfs-grey;
  padding: 10px;
}

.column_item {
  border-bottom: 1px solid $border-white;
  border-right: 1px solid $border-white;
  color: $lfs-grey;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .flex_ceil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;

    img {
      border-radius: 100%;
    }
  }

  .plus_percent {
    color: $lfs-green;
  }

  .minus_percent {
    color: $lfs-red;
  }
}

.row_empty {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 0;
  color: $lfs-grey;
  border-bottom: 1px solid $border-white;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}


@media only screen and (min-width: 320px) and (max-width: 768px) {

  .table_component {
    overflow-x: scroll;
  }

  .table_title {
    text-align: start;
    font-size: 24px;
    margin: 26px 0 4px 0;
  }

}
