@import '../../index';

.layout {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 100px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header_content{
  width: 100%;display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  gap: 40px;
}

.top_coins_block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  padding-left: 30px;
  align-items: center;
}

.top_coins {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 20px;
}

.top_coin_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  border: 1px solid $border-grey;
  padding: 8px 16px;
  position: relative;
}

.coin_icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;

  h4 {
    text-transform: capitalize;
  }
}

.price {
  font-size: large;
  color: #006ac6;
  font-weight: 600;
}

.top_coins_title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
}

.cart {
  border-radius: 8px;
  border: 4px solid $border-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  gap: 20px;
  padding: 4px 12px;
  cursor: pointer;
  background-color: $background;

  img {
    border-radius: 100%;
  }

  &:hover {
    background-color: $lgt-blue;
  }

  .sum {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;

    .negative {
      color: $lfs-red;
    }

    .positive {
      color: $lfs-green;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {

  .header_content{
    flex-direction: column;
    gap: 20px;
  }

  .top_coins_block{
    justify-content: center;
    padding-left: 0;
    flex-direction: column;
  }

  .top_coins {
    flex-direction: column;
  }

  .top_coin_item {
    justify-content: space-between;
    width: 60vw;
    min-width: 250px;
    padding: 8px 20px;
  }

  .cart {
    position: initial;
    width: 40vw;
    min-width: 250px;
    gap: 40px;
    align-self: center;
  }

  .layout {
    margin-bottom: 64px;
  }
}

