@import '../../index';

.wrap {
  background: $back-modal;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  min-width: 400px;
  width: 24vw ;
  border: 2px solid $border-grey;
  position: relative;
  background: white;
  border-radius: 20px;
  padding: 28px 60px 28px 36px;
}

.closeButton {
  position: absolute;
  font-size: 40px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  background: none;
  color: rgb(0, 0, 0, 0.6);
}

.closeButton:hover {
  color: rgb(0, 0, 0, 1);
}

.title {
  margin: 0 0 16px;
  font-family: "SF Pro", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: black;
  text-wrap: balance;
}

.title_coin {
  color: $lfs-blue;
  text-transform: capitalize;
}

.form_add_coin {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
}

.title_add_window{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form_group {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
}

.input_label {
  font-size: 20px;
  line-height: 1;
  text-transform: capitalize;
  display: flex;
  gap: 8px;
  align-items: center;
  color: black;
}

.input_empty {
  font-size: 20px;
  margin-top: 16px;
  line-height: 1;

}

.position_right {
  justify-content: right;
}

.input_count {
  font-size: 20px;
  height: fit-content;
}

.modal_list_content {
  display: flex;
  flex-direction: column;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.item_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px dashed $border-grey;
  padding: 12px 0;
  margin-top: 12px;
  gap: 24px;
}

.item_list_right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .content {
    padding: 16px;
    max-height: 70%;
    overflow: auto;
    min-width: 260px;
    width: 70vw;
  }

  .title {
    margin-bottom: 4px;
  }

  .item_list {
    flex-direction: column;
    gap: 8px;
  }

  .item_list_right {
    padding: 4px 0;
    gap: 24px;
  }

  .modal_list_content {
    height: 100%;
  }
}
