@import "../index.scss";

.input_seach_block {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input_search {
  font-size: 18px;
  border-radius: 12px;
  padding: 8px 8px 8px 32px;
  background: $lgt-blue;
  border: 2px $border-grey solid;
  min-width: 400px;
  width: 28vw;
}

.icon {
  position: absolute;
  left: 8px;
}

.button_add {
  background-color: $lfs-red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px $border-white solid;
  padding: 8px 16px;
  transition: 150ms linear;

  &:hover {
    background-color: $hover-red;
    cursor: pointer;
  }
}

.button_load {
  padding: 10px 64px;
  font-size: 18px;
}

.fix_button {
  text-decoration: none;
  background: $lfs-blue;
  color: white;
  font-weight: bold;
  font-size: 22px;
  border-radius: 10px;
  border: 2px $border-white solid;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    text-decoration: underline;
  }
}

.fix_btn_bottom_right{
  position: fixed;
  bottom: 32px;
  right: 16px;
}

.text_wriper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.coin_view {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.coin_name {
  color: black;
  text-transform: capitalize;
  font-weight: bold;
  text-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .input_search {
    min-width: 230px;
    width: 72vw;
  }

  .fix_button {
    padding: 8px 16px;
    font-size: 18px;
  }

  .button_load {
    padding: 8px 80px;
    font-size: 16px;
    letter-spacing: 4px;
  }
}
